.no-record {
  padding: 100px 30px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  text-align: center;

  &.full-border {
    border: 1px solid rgba(0, 0, 0, .12);
  }

  img {
    max-width: 140px;
    margin: 0 auto 20px;
  }

  p {
    color: #777;
    font-size: 20px;
  }
}
