.search-input {
  position: relative;

  input {
    padding: 0 16px 0 45px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B8B9BC;
    border-radius: 4px;
    color: #B8B9BC;
    font-size: 16px;
  }

  .icon-search {
    position: absolute;
    left: 20px;
    color: #B8B9BC;
    top: 15px;
  }
}