@import "variables";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    a {
      display: block;
      padding: 0 20px;
      color: #fff;
      text-transform: capitalize;
      text-decoration: none;
      line-height: $header-height;

      &.active,
      &:hover {
        background-color: $primary-color-dark;
      }
    }
  }
}
